appdirs==1.4.4
argh==0.26.2
astroid==2.5.2
async-timeout==3.0.1
atomicwrites==1.4.0
bkcharts==0.2
blinker==1.4
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
certifi==2020.12.5
clyent==1.2.2
comtypes==1.1.9
conda==4.10.1
conda-build==3.21.4
conda-verify==3.4.2
contextlib2==0.6.0.post1
cycler==0.10.0
cytoolz==0.11.0
docutils==0.16
entrypoints==0.3
et-xmlfile==1.0.1
fastcache==1.1.0
findspark==1.3.0
future==0.18.2
gmpy2==2.0.8
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
h5py==2.10.0
HeapDict==1.0.1
helpdev==0.7.1
jdcal==1.4.1
json5==0.9.5
jupyter==1.0.0
llvmlite==0.36.0
locket==0.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
menuinst==1.4.16
mistune==0.8.4
mkl-fft==1.3.0
mkl-random==1.1.1
mkl-service==2.3.0
mpmath==1.2.1
multipledispatch==0.6.0
mypy-extensions==0.4.3
navigator-updater==0.2.1
oauthlib==3.0.1
olefile==0.46
parso==0.7.0
partd==1.1.0
pathspec==0.7.0
pathtools==0.1.2
patsy==0.5.1
pep8==1.7.1
pkginfo==1.7.0
ply==3.11
protobuf==3.15.8
pyarrow==3.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycosat==0.6.3
pycurl==7.43.0.6
pypi-install==0.0.5
PyQt5==5.12.3
PyQt5-sip==12.8.1
PyQtWebEngine==5.12.1
pytest==6.2.2
pywin32==227
pywin32-ctypes==0.2.0
pywinpty==0.5.7
pyxll==5.0.8
PyYAML==5.4.1
pyzmq==20.0.0
QDarkStyle==2.8.1
QtPy==1.9.0
retrying==1.3.3
Rtree==0.9.4
simplegeneric==0.8.1
sip==4.19.13
unicodecsv==0.14.1
webencodings==0.5.1
widgetsnbextension==3.5.1
win-unicode-console==0.5
wincertstore==0.2
wrapt==1.12.1
xlwings==0.23.0
xlwt==1.3.0
xmltodict==0.12.0
zict==2.0.0
zope.event==4.5.0
